.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000010;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  opacity: 1;
  min-height: 13rem;
  height: auto;
}
